$mainFontFamily:'Poppins',
sans-serif;

$navbarSearchInputBg:#f3f3f3;
$navbarLinkColor: #000;
$navbarLinkHoverColor:#3e976c;
$navbarButtonColor: #000;
$navbarBadgeBgColor: #bdefd6;
$navbarBadgeColor: #3e976c;
$navbarBgColor: rgba(255, 255, 255, 0.8);
$navbarMoveBoxShadow: #0000001a;

$sliderDotBgColor:#bdefd6;
$sliderDotActiveColor:#3e976c;

$productBoxButtonBgColor: #fff;
$productBoxButtonBgHover: #3e976c;
$productBoxButtonFontColor:#000;
$productBoxButtonFontHoverColor: #fff;
$productBoxTitleFontColor: #7a7a7a;
$productBoxRatingColor: #f2b03d;


$blogBgColor: #F9F9F9;
$blogPostBgColor: #fff;
$blogPostCategoryColor: #d2d2d2;
$blogPostDescColor: #999999;
$blogPostTitleFontColor: #000;

$promoHeadlineColor: #3C3C3C;
$promoTagColor:#CFCFCF;

$footerMainFontColor: #999999;
$footerHeadlineColor:#3C3C3C;
$footerSocialLinksColor: #999999;
$footerSocialLinksBgColor: #F9F9F9;
$footerSocialLinksHoverColor: #000;
$footerSocialLinksBgHoverColor:#BDEFD6;
$footerLinksHoverColor:#3e976c;
$footerFormBgColor: #F2F2F2;
$footerFormButton:#3e976c;
$footerConsentLinksColor:#3e976c;

$copyrightsMainFontColor:#999999;
$copyrightsBreakLineColor: #F9F9F9;