.footer {
  display: flex;
  margin: 100px 0;

  &__infosection {
    width: calc(100%/3);
    margin: 20px 0 0 0;
  }

  &__info {
    color: $footerMainFontColor;
    font-size: 12px;
    line-height: 2;
    margin: 20px 0;
  }

  &__sociallinks {
    @include reset-list;
    display: flex;
    gap: 15px
  }

  &__sociallink {
    background-color: $footerSocialLinksBgColor;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: $footerSocialLinksColor;
    transition: 300ms;

    &:hover {
      background-color: $footerSocialLinksBgHoverColor;
      color: $footerSocialLinksHoverColor
    }
  }

  &__links {
    width: calc(100%/3);
    display: flex;
  }

  &__linkssection {
    width: 50%;
  }

  &__headline {
    color: $footerHeadlineColor;
    font-size: 14px;
    font-weight: 600;
  }

  &__mainlinks {
    @include reset-list;

    a {
      color: $footerMainFontColor;
      font-size: 14px;
      line-height: 3;

      &:hover {
        color: $footerLinksHoverColor;
      }
    }

  }



  &__newsletter {
    width: calc(100%/3);
  }

  &__email {
    position: relative;
  }

  &__input {
    border: none;
    background-color: $footerFormBgColor;
    font-size: 12px;
    padding: 12px 20px;
    border-radius: 40px;
    width: 100%;
  }

  &__subscribe {
    color: $footerFormButton;
    text-transform: uppercase;
    font-size: 12px;
    padding: 12px 20px;
    border: none;
    background-color: transparent;
    font-weight: 600;
    right: 10px;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    cursor: pointer;
    letter-spacing: 1px;
  }

  &__consent {
    font-size: 10px;
    font-style: italic;
    color: $footerMainFontColor;
    line-height: 2.5;
    margin: 30px 0 0 0;
    cursor: pointer;
  }

  &__newsletterlinks {
    font-weight: 600;
    color: $footerConsentLinksColor;
    cursor: pointer;
  }
}